/* spotlight color #f18119 
    main text #404040
    white text #fff
    gradient bar #FF713B - #FFA51D

    Font family - Source Sans
    font-family: 'Source Sans 3', sans-serif;

    h1: 2.25rem or 3.5rem
    h2: 1.3125rem or 1.75rem
    body: 1rem or 1.125rem
    small: .0625rem

    font weights 900 or 400
    */

* {
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    color: #404040;
    font-weight: 400;
    text-align: center;

}

/* --------------- */
/* typography */
/* --------------- */
h1{
    font-weight: 300;
    font-size: 2.25rem;
    color: #fff;
}
.h1-highlight{
    font-weight: 900;
}
h2{
    font-size: 1.3125rem;
}
.tagline{
    font-size: .625rem;
}
.tagline,
.subtitle{
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #F18119;
    font-weight: 900;
}
.smalltext{
    font-size: .625rem;
    letter-spacing: 1px;
}


/* --------------- */
/* layout */
/* --------------- */
header{
    background-image: url(images/dark-ribs.jpg);
    background-color: #404040;
    background-position: center;
    background-size: cover;
}
/* on small screens content displays in 1 column
each row taking half the viewport height */
header .container{
    display: flex;
    flex-direction: column;
    text-align: center;
    /* ensure a decent height */
    min-height: 50vh;
    /* take up the full height of the parent container */
    height: 100%;
    /* push the tagline to the top and subtitle to the bottom
    with the main title in the center */
    justify-content: space-between;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
main .container{
    padding: 0 2rem;
}
.container{
    margin: 0 auto;
    max-width: 550px;
}
.header-tagline{
    order: -1;
}
.tagline{
    border-top: 10px solid #F18119;
    border-image: linear-gradient(to left, #FF713B,#FFA51D) 60;
    padding-top: .5rem;
    
}
.h1-highlight{
    /* force the highlight text onto its own line */
    display: block;
}

.form-intro .subtitle{
    margin-top: 0;
    margin-bottom: 2rem;
}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* max-width: 70%; */
}
button{
    background: linear-gradient(to left, #FF713B,#FFA51D);
    padding: 1em 5em;
    color: #fff;
    font-weight: 900;
    text-transform: uppercase;
    font-size: .625rem;
    border-radius: 8px;
}
input{
    font-size: 1.3125rem;
    margin-bottom: 1em;
}

@media (min-width: 750px) {
    /* on large screens switch to 2 columns */
    body{
        display: flex;
        flex-direction: row;
        font-size: 1.125rem;
    }
    /* each column is same size
    and fills the viewport in height */
    header, 
    main{
        min-height: 100vh;
        width: 50%;
    }


    h1{

        margin-bottom: 0;
        font-size: 3.5rem;
    }
    h2{
        font-size: 1.75rem;
    }


}
